<p style="color: green"><%= notice %></p>

<h1>Flats</h1>
<%= @markers %>
<%= link_to "New flat", new_flat_path %>

<div id='map' style='width: 100%; height: 800px;'
  data-controller='map'
  data-map-api-key-value='pk.eyJ1Ijoic2VndW5kb3JlYmF6YSIsImEiOiJja3k0c3JhejUwZG91MnVvM2tlODdrZm1hIn0.v52CmMDvgtRnUn9h2YShNQ'></div>
